.about-page {
    .hero {
        height: auto;
        a {
            text-decoration: none;
        }
        .herohead {
            padding-top: 55px;
            padding-right: 50px;
            line-height: 1.5;
            letter-spacing: 1.2px;
        }
    }
    .white-background {
        width: auto;
        .ticket-container {
            h1 {
                color: $white;
            }
        }
        h3 {
            font-weight: 500;
        }
        h4 {
            padding-top: 40px;
        }
        p {
            margin-bottom: 20px;
        }
        h5 {
            line-height: 1.5;
            padding: 20px 0 20px 0;
        }
        h6 {
            padding: 20px 0 20px 0;
        }
        .form-field {
            height: 50px;
            width: auto;
            border: 1px solid black;
            margin-bottom: 10px;
        }
        .form-field-end {
            height: 200px;
            width: auto;
            border: 1px solid black;
        }
        .button-container {
            padding-left: 148px;
            .main-button {
                width: 150px;
            }
        }
    }
    .gray-background {
        .venue {
            padding: 20px 20px 20px 20px;
            p {
                line-height: 1.6;
                padding: 20px 0 20px 0;
            }
        }
        .about-location {
            padding: 20px 20px 20px 20px;
            h3 {
                padding-bottom: 20px;
            }
            p {
                line-height: 1.6;
            }
        }
        .img {
            width: 100%;
            height: auto;
        }
    }
}