.counter-container {
    width: 280px;
    height: 178px;
    background-color: $yellow;
    margin: 0 auto;
    position: relative;
    top: -45px;
    z-index: 1;
    .counter {
        padding: .5em;
        .count-contain {
            display: flex;
            justify-content: space-around;
            .count-box {
                background-color: $white;
                height: 83px;
                width: 31%;
                display: inline-block;
            }
        }
        .day {
            font-weight: bold;
            color: $white;
            text-align: center;
            padding: 10px 0 15px 0;
        }
        .date {
            color: $white;
            text-align: center;
        }
    }
}
.ticket-container {
    background-color: $goldenrod;
    height: 200px;
    width: 281px;
    margin: 0 auto;
    position: relative;
    top: -32px;
    h1 {
        color: $white;
        text-align: center;
        font-weight: bold;
        padding: 40px 0 35px 0;
        letter-spacing: 1.2px;
    }
    .ticket-button {
        background-color: $white;
        width: 250px;
        height: 60px;
        margin: 0 auto;
        text-align: center;
        margin: 0 5%;
        a {
            color: $yellow;
            font-weight: bold;
            letter-spacing: .9px;
            padding: 0 auto;
            text-decoration: none;
        }
    }
}
.white-background {
    height: auto;
    width: 92%;
    padding: .75em;
    h1 {
        color: $yellow;
        font-weight: medium;
        letter-spacing: 1px;
    }
    h3 {
        font-weight: bold;
        line-height: 1.52;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    p {
        line-height: 1.4;
        letter-spacing: 0.9px;
    }
    .main-button {
        background-color: $yellow;
        width: 250px;
        height: 60px;
        margin: 15px auto 65px;
        text-align: center;
        a {
            color: $white;
            font-weight: bold;
            letter-spacing: .9px;
            padding: 0 auto;
            text-decoration: none;
        }
    }
}
.gray-background {
    height: auto;
    width: 92%;
    padding: .75em;
    background-color: $grey;
    color: $silver;
    h3 {
        font-weight: bold;
        letter-spacing: 0.9px;
        line-height: 24px;
        padding-top: 30px;
    }
    p {
        letter-spacing: 0.8px;
        line-height: 24px;
    }
    .spacer {
        padding-bottom: 40px;
    }
}