.hero {
    background: url('../images/code-lines.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    padding-bottom: 40px;
    header {
        padding: 30px 0 25px 14px;
    }
    .line-below {
        width: 100%;
        height: 5px;
        background-color: white;
    }
    a {
        color: $white;
        text-align: left;
        font-weight: 800;
        letter-spacing: 1.4px;
        line-height: 1.38;
    }
    p {
        padding: 72px 62px 0 20px;
    }
    .white-line {
        height: 5px;
        width: 108px;
        margin-left: 20px;
        margin-top: 30px;
        background-color: white;
    }
}