.gold-background {
    height: auto;
    width: 100%;
    background-color: #ffae00;
    color: black;
    .mont21 {
        padding: 75px 143px 20px 20px;
        line-height: 1.5;
        font-weight: bolder;
    }
    .loc-con {
        padding: 1em;
        line-height: 1.5;
        h3 {
            font-weight: bold;
        }
    }
}
