.seisan {
    width: 200px;
    height: 80px;
    margin: 15px auto 65px;
}
.flex {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.printed-solid {
    width: 151px;
    height: 93px;
}
.simple {
    width: 93px;
    height: 94px;
    padding-bottom: 26px;
}
.linode {
    width: 211px;
    height: 83px;
    margin-bottom: 55px;
}
.lulzbot {
    width: 110px;
    height: 113px;
}
.tapestry {
    width: 80px;
    height: 99px;
    padding: 0 48px 33px 0px;
}
.elastic {
    width: 179px;
    height: 62px;
    margin-bottom: 65px;
}
.lullabot {
    width: 87px;
    height: 94px;
    margin: 25px auto 45px;
}
.m-logo {
    height: 71px;
    width: 225px;
    position: relative;
    left: -15px;
    top: 15px;
    margin-bottom: 35px;
}