.speaker-page {
    width: 100%;
    height: auto;
    color: $gunmetal;
    .hero {
        padding-bottom: 20px;
    }
    .speaker-ticket {
        @extend .ticket-container;
        left: -10px;
        top: 10px;
        margin-bottom: 40px;
    }
}