.speaker-page {
    width: 100%;
    height: auto;
    color: $gunmetal;
    .hero {
        padding-bottom: 20px;
    }
    .speaker-ticket {
        @extend .ticket-container;
        left: -1px;
        top: 10px;
        margin-bottom: 40px;
    }
    .white-background {
        h1 {
            margin: 0 auto 15px;
            line-height: 1.4;
            font-weight: 500;
            color: $gunmetal;
        }
        h3 {
            margin-bottom: 5px;
            font-size: 18px;
        }
    }
    .gray-background {
      h3 {
        padding-top: 0;
      }
    }
    .dropDown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $yellow;
        .yellowArrow {
            font-size: 40px;
            margin-bottom: 5px;
        }
    }
}
