.sponsor-page {
    width: 100%;
    height: auto;
    color: $gunmetal;
    .hero {
        height: auto;
        padding-bottom: 50px;
    }
    .sponsor-ticket {
        @extend .ticket-container;
        top: 30px;
        margin-bottom: 80px;
    }
    .white-background {
        .mont21 {
            font-weight: 500;
            margin: 30px auto 20px;
            letter-spacing: 1px;
        }
        p {
            margin-bottom: 25px;
            strong {
                font-weight: bold;
            }
        }
        .main-button-hidden {
            display: none;
        }
    }
    .sponsor-about {
        display: none;
    }
    .gray-background {
        width: auto;
        .mont24 {
            font-weight: medium;
            padding-bottom: 20px;
        }
        ul {
            list-style-type: disc;
            list-style-position: inside;
            margin: 10px auto 10px;
            li {
                margin: 15px auto 15px;
                line-height: 1.5;
            }
        }
    }
    .gold-background {
        height: auto;
        width: 100%;
        background-color: #ffae00;
        color: black;
        margin-bottom: -3px;
        .gold-inside {
            padding: 30px 30px 30px 30px;
        }
        h2 {
            padding: 40px 0 20px 0;
            font-weight: bold;
        }
        .loc-con {
            padding-top: 10px;
            padding-bottom: 10px;
            h3 {
                font-weight: bold;
            }
        }
    }
    .table-section {
        display: none;
        .white-background {
            display: flex;
            margin-left: 5%;
            padding-left: 0;
            p {
                width: 50%;
                margin-right: 15%;
            }
        }
    }
    .sponsor-table {
        width: 95%;
        margin: 0 0 20px 5%;
        .table-head {
            width: 20%;
            margin-right: 5px;
        }
        td {
            width: 15%;
            padding: 5px;
            text-align: left;
        }
    }
    .mod-white-background {
        width: 58%;
        margin: 0 2% 100px 40%;
        .mont24 {
            margin-bottom: 20px;
            line-height: 1.0;
            letter-spacing: 1.2px;
        }
        .lora18 {
            font-weight: bold;
            margin: 10px 0;
            line-height: 1.33;
            letter-spacing: .9px;
        }
        .lora16 {
            margin-bottom: 25px;
            letter-spacing: .8px;
            line-height: 1.5
        }
    }
    .herohead {
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 1.2px;
        text-align: left;
    }
}
@media only screen and (min-width: 768px) {
    .sponsor-page {
        .hero {
            .herohead {
                width: 70%;
            }
        }
        header {
            .mont14 {
                width: 35%;
            }
        }
        .white-background {
            h2 {
                padding-left: 30px;
                font-weight: bold;
            }
            h3 {
                padding-left: 30px;
            }
            p {
                padding: 0 50px 0 30px;
            }
            .main-button {
                margin-left: 30px;
            }
        }
        .gray-background {
            padding: 20px 40px 20px 40px;
            div {
                ul {
                    padding: 0 20px 0 20px;
                    li {
                        list-style-position: inside;
                    }
                }
            }
        }
        .gold-background {
            display: flex;
            .gold-inside {
                width: 50%;
            }
            .map-test {
                width: 100%;
            }
        }
    }
}
@media only screen and (min-width: 1000px) {
    .sponsor-page {
        * {
            box-sizing: border-box;
        }
        .col {
            height: auto;
            display: inline-block;
            width: 8%;
        }
        .col-1 {
            width: 16%;
        }
        .col-2 {
            width: 24%;
        }
        .col-3 {
            width: 32%;
        }
        .col-4 {
            width: 40%;
        }
        .col-5 {
            width: 48%;
        }
        .col-6 {
            width: 56%;
        }
        .col-7 {
            width: 64%;
        }
        .col-8 {
            width: 72%;
        }
        .col-9 {
            width: 80%;
        }
        .col-10 {
            width: 88%;
        }
        .col-11 {
            width: 96%;
        }
        [class*="col-"] {
            display: inline-block;
            float: left;
            padding-bottom: 10px;
        }
        .row::after {
            content: "";
            display: block;
        }
        header {
            .mont14 {
                width: 25%;
            }
        }
        .hero {
            .herohead {
                width: 55%;
            }
        }
        .white-background {
            display: inline-block;
            .sponsor-about {
                display: block;
                line-height: 2.0;
                padding: 40px;
                h5 {
                    color: $yellow;
                    font-weight: bold;
                }
                h6 {
                    color: $gunmetal;
                    font-weight: bold;
                }
            }
            .sponsor-ticket {
                margin-left: 20px;
                width: 22%;
            }
            .main-button-hidden {
                display: block;
                position: relative;
                left: 350px;
                padding: 20px 5px 20px 5px;
            }
            .sponsor-test {
                position: relative;
                top: -100px;
            }
            .download {
                display: none;
            }
            .mb-hide {
                display: none;
            }
        }
        .gray-background {
            div {
                padding-left: 250px;
            }
        }
        .table-section {
            display: block;
        }
    }
}